<template>
  <div>
    <navBar></navBar>
    <b-container fluid>
      <b-row>
        <b-col cols="12">
          <router-view></router-view>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import navBar from "../../components/navBar";

export default {
  name: "default",

  data() {
    return {};
  },
  components: { navBar }
};
</script>

<style lang="scss">
</style>