<template>
  <div>
    <b-carousel
      id="carousel-no-animation"
      style="text-shadow: 0px 0px 2px #000"
      no-animation
      indicators
      img-width="1024"
      img-height="480"
    >
      <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=10"></b-carousel-slide>
      <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=23"></b-carousel-slide>
      <search></search>
    </b-carousel>
  </div>
</template>

<script>
import search from "./search.vue";
export default {
  name: "carousel",

  data() {
    return {};
  },
  components: {
    search
  }
};
</script>

<style>
</style>


