<template>
  <div>
    <carousel></carousel>
  </div>
</template>

<script>
import carousel from "../../pages/LandPage/carousel";
export default {
  components: { carousel }
};
</script>

<style>
</style>
