<template>
  <b-container>
    <b-row>
      <b-col cols="10" align-h="center" offset="1">
        <b-input-group>
          <b-input-group-text slot="prepend">Username</b-input-group-text>
          <b-form-input></b-form-input>
          <b-button variant="outline-success">Search</b-button>
        </b-input-group>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "search"
};
</script>

<style>
</style>
