<template>
  <component v-bind:is="layout"></component>
</template>

<script>
import DefaultLayout from "../src/assets/layouts/default";

export default {
  name: "App",
  components: {
    DefaultLayout
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || "default") + "-layout";
    }
  }
};
</script>

<style lang="scss">
</style>